#info_note
{
	position:absolute;
	display:none;
	z-index:100;
	max-width:300px;
	padding:0 2px 5px 5px;
}

#info_note *
{
	font-size:9.5px;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	text-align:left;
}

#info_note table
{
	border:1px solid #222222;
	background-color:#E9EEF3;
	padding:2px 2px;
}

#info_note .min-width
{
	width:60px;
	height:1px;
	overflow:hidden;
	margin-top:-1px;
}

#note-close
{
	cursor:pointer;
	display:block;
	width:11px;
	height:11px;
	background: url("/web/20100926200014im_/http://eddsworld.co.uk/oldforums/styles/EddsworldDefualt/theme/images/prime_bbcode_note_close.gif") no-repeat top right;
	background-position:0 -11px;
	position:absolute;
	top:-5px;
	left:0px;
}

#note-close:hover
{
	background-position:0 0px;
}

#note-lock
{
	display:none;
	position:absolute;
	white-space:nowrap;
	top:-20px;

	color:infotext;
	background-color:infobackground;
	border:1px solid infotext;

	padding:2px 2px;

}

.prime_bbcode_note
{
	display:none;
}

.prime_bbcode_note_text
{
	cursor:pointer;
	text-decoration:underline;
}

.prime_bbcode_note_spur
{
	cursor:pointer;
	padding-right:18px; /* width of the icon, plus padding */
	width:18px;  /* same as padding-right, for IE */
	background: url("/web/20100926200014im_/http://eddsworld.co.uk/oldforums/styles/EddsworldDefualt/theme/images/prime_bbcode_note.gif") no-repeat center right;
}

/*
     FILE ARCHIVED ON 20:00:14 Sep 26, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:24:49 Nov 25, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.478
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 7.86
  LoadShardBlock: 67.659 (3)
  PetaboxLoader3.datanode: 104.484 (4)
  load_resource: 133.911
  PetaboxLoader3.resolve: 42.816
*/